#graph_master_container {
  overflow: auto !important;
  width: 100% !important;
}
#graph_master_container > div > div {
  width: 200px !important;
  float: left !important;
}

#graph_three_container{
	overflow: auto;
}

.graphMasterRequests_wrapper{
	position: relative;
	padding: 10px;
	background: #fff;
	/*margin: 20px 0;*/

	.c_header{
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

		h2{
			position: relative;
			font-size: 15px;
			margin: 0 0 5px 0;
			width: 70%;
			float: left;
			font-weight: normal;

			b{
				font-weight: normal;
				color: red;
				font-size: 13px;
				color: #e20613;
			}
		}

		a{
			position: relative;
			display: inline-block;
			float: right;
			font-size: 30px;
			text-decoration: none;
			margin: 0 0 0 10px;
			color: #e20613;
		}
	}

	ion-slide{
		width: 120px !important;
		background: #fafafa;
		margin: 0 10px 0 0;
		padding-bottom: 15px;
		flex-direction: column;
		justify-content: flex-start;
		position: relative;
		
		p{
			font-size: 14px;
	    position: relative;
	    /*bottom: 5px;*/
	    margin: 0;
	    line-height: 17px;
	    /*height: 30px;*/
	    overflow: hidden;
		}
	}
}

.graph2_wrapper{
	position: relative;
	padding: 10px;
	background: #fff;
	/*margin: 20px 0;*/

	.c_header{
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

		h2{
			position: relative;
			font-size: 15px;
			margin: 0 0 5px 0;
			width: 70%;
			float: left;
			font-weight: normal;

			b{
				font-weight: normal;
				color: red;
				font-size: 13px;
				color: #e20613;
			}
		}
	}

	#graph_tat_container{
		overflow: auto;
	}
}
