<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" routerLink="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Manager Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!masterDataAvailiable">
  <ion-grid>
    <div class="outer_container">
      <ion-row>
        <ion-col size-md="12" class="ion-no-padding">
          <ion-card class="ion-no-margin ion-margin-top ion-padding-bottom">
            <div id = "graph_three_container">

            </div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row size="12">
        <ion-col size-md="12" class="ion-no-padding">
          <ion-card class="ion-no-margin ion-margin-top">
            <div class="graph2_wrapper">
              <div class="c_header">
                <h2>Request Resolved Status <br /> <b>( Last 3 months )</b></h2>
              </div>

              <div id = "graph_tat_container">

              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row size="12">
        <ion-col size-md="12" class="ion-no-padding">
          <ion-card class="ion-no-margin ion-margin-top">
            <div class="graphMasterRequests_wrapper">
              <div class="c_header">
                <h2>Query & SubQuery Wise Status <br /> <b>( Last 3 months )</b></h2>


                <a (click)="removeFilter()" class="ion-float-right" fill="solid">
                  <ion-icon name="close"></ion-icon>
                </a>
                <a (click)="showFilterForm()" class="ion-float-right" fill="solid">
                  <ion-icon name="filter"></ion-icon>
                </a>
                <br>
                <h2 *ngIf="!isNull(filterName)"  >{{filterName}}</h2>
              </div>
              
              <ion-row style="width: 100%;">
                <ion-slides [options]="mySlideOptions">
                  <ion-slide *ngFor="let row of graphMasterRequest">
                    <circle-progress [percent]="row.TICKETS_COUNT" [space]="-10" [radius]="40" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="row.COLOUR_CODE" [innerStrokeColor]="'#e7e8ea'" [animation]="false" [animationDuration]="100" [showUnits]="false" [showSubtitle]="false"></circle-progress>

                    <p style="color: {{row.COLOUR_CODE}}"> {{row.TITLE}} </p>
                  </ion-slide>
                </ion-slides>
              </ion-row>
              <h1 *ngIf="filterDataAvailiable">No data availiable</h1>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<h1 *ngIf="masterDataAvailiable">No data availiable</h1>
