.form-group {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
}

.form-group ion-label {
    display: block;
    width: 100%;
    font-size: 15px;
    margin: 0 0 5px 0;
}

.form-group input {
    display: block;
    width: 100%;
}

.form-group select {
    display: block;
    width: 100%;
    background-color: #ccc;
    border: 0;
    padding: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
}

.form-group ion-input {
    display: block;
    width: 100%;
    background: #ccc;
    border: 0;
    --padding-start: 10px;
    --padding-end: 10px;
}

.search_employee_container{
    width: 100%;

    ion-input{
      width: calc( 100% - 40px );
      float: left;
    }

    a{
      width: 40px;
      height: 39px;
      border-radius: 0;
      float: right;
      background: #f2f2f2;
      display: inline-block;
      position: relative;

      ion-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 27px;
      }
    }
}

.poc {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    /*padding: 10px;*/
    /*background: #f2f2f2;*/
    text-align: left;
    margin-bottom: 20px;
}

.poc h1 {
    font-weight: normal;
    margin: 0 0 5px 0;
    font-size: 15px;
    /*border-bottom: 1px solid #ccc;*/
    /*padding-bottom: 10px;*/
}

.poc table {
    width: 100%;
}

.poc table tr td {
    width: 50%;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
}

.poc table tr th {
    font-weight: normal;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.btns_responds_container button{
  background: none;
  float: right;
}

.btns_responds_container button img{
  width: 50px;
}