<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/hr-listing" routerLink={{this.previousRoute}}></ion-back-button>
    </ion-buttons>
    <ion-title>Request Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="outer_container">
      <ion-row *ngIf="getApiQueryData">
        <ion-col>
          <div class="form-container">
            <div class="form-group">
              <ion-label>Request Mode</ion-label>
              <!-- <p>{{getApiQueryData.REQ_MODE_DESC}}</p> -->
              <ion-input [value]="getApiQueryData.REQ_MODE_DESC" readonly></ion-input>
            </div>
            <div class="form-group">
              <ion-label>Employee Id</ion-label>
              <ion-input [value]="getApiQueryData.REQ_EMPNO" readonly></ion-input>
            </div>
            <div class="form-group" >
              <ion-label>Employee Name</ion-label>
              <ion-input  type="text" [value]="getApiQueryData.EMP_NAME" readonly ></ion-input>
            </div>
            <div class="form-group">
              <ion-label>Query Type</ion-label>
              <ion-input [value]="getApiQueryData.MASTER_QUERY" readonly></ion-input>
            </div>
            <div class="form-group">
              <ion-label>Sub Query</ion-label>
              <ion-input [value]="getApiQueryData.DETAIL_QUERY" readonly></ion-input>
            </div>
            <div class="readOnlyData poc">
              <h1>Point Of Contact </h1>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Designation</th>
                </tr>
                <tr>
                  <td>{{getApiQueryData.RESPONSIBILITY}}</td>
                  <td>{{getApiQueryData.PERSON_DESIG}}</td>
                </tr>
              </table>
            </div>
            <div class="form-group">
              <ion-label>Remarks</ion-label>
              <ion-input type="text" [value]="getApiQueryData.REQ_REMAKS" readonly></ion-input>
            </div>

            <div *ngIf="hrFlag" >
              <div class="form-group">
                <ion-label>HR Remarks</ion-label>
                <select [(ngModel)]="hrRemarks">
                  <option *ngFor="let remarks of remarkList" [ngValue]="remarks.HR_REMARKS">{{remarks.HR_REMARKS}}</option>
                </select>
              </div>

            </div>
          </div>
          <!--For Request Read only-->
          <div *ngIf="!hrFlag" >
              <div class="form-group">
                <ion-label>HR Remarks</ion-label>
                <ion-input  type="text" [value]="getApiQueryData.HR_REMARKS" readonly></ion-input>
              </div>
            </div>
            
          <div class="form-group">
            <ion-label>Request Status</ion-label>
            <ion-input  type="text" [value]="getApiQueryData.TICKET_STATUS" readonly></ion-input>
          </div>
          <div *ngIf="isResponder" class="btns_responds_container">
            <button class="ion-float-right">
              <img (click)="clickResponderHandler('Rejected')" src="./assets/images/png/icon_cross.png">
            </button>
            <button class="ion-float-right">
              <img (click)="clickResponderHandler('Approved')"  src="./assets/images/png/icon_right.png">
            </button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>