.filter_graph_container{
	position: relative;
	width: 100%;
	overflow: hidden;

	ion-datetime{
		width: calc( ( 50% - 10px) - 20px );
		float: left;
		border: 0;
		background: #f2f2f2;
		margin-right: 10px;
	}

	a{
	  width: 40px;
	  height: 40px;
	  border-radius: 0;
	  float: right;
	  background: #f2f2f2;
	  display: inline-block;
	  position: relative;

	  ion-icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 27px;
	  }
	}
}

.dates_container{
	position: relative;
	width: 100%;

	.date_wrapper{
		width: 40%;
		float: left;
	}
}

.listing_row_container{
	position: relative;
	width: 100%;
	/*padding: 0 10px;*/

	*{
		transition: all .3s ease-in;
	}

	.listing_row{
		position: relative;
		width: 100%;
		overflow: hidden;
		background: #f2f2f28c;
		border-left: 7px solid #ff8100;
		border-right: 1px solid #ff8100;
		padding: 10px;
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		cursor: pointer;

		.list_lft{
			float: left;
			width: 60%;
			position: relative;
			overflow: hidden;

			h1{
				font-size: 16px;
				color: #949494;
				margin: 0;
				font-weight: normal;
				line-height: 18px;

				span{
					display: block;
					font-size: 12px;
					color: #949494;
					margin: 5px 0 0 0;
					width: 80%;
					line-height: 15px;
				}
			}
		}

		.list_rt{
			float: right;
			width: 40%;
			position: relative;

			span{
				display: block;
				font-size: 12px;
				margin: 0;
				color: #949494;
			}

			b{
				display: block;
				font-size: 12px;
				margin: 10px 0 0 0;
				font-weight: normal;
				color: #949494;
			}

			ion-icon{
				position: absolute;
				right: 5px;
				top: 50%;
				font-size: 25px;
				transform: translateY(-50%);
				color: #ff8100;
			}
		}
	}

}
.listing_row:hover{
	background: #ff8100 !important;

	*{
		color: #fff !important;
	}
}

.btn_toggle_list_container{
	position: relative;
	// overflow: hidden;
	width: 100%;
	max-width: 400px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	
	div{
		position: relative;
		width: 100px;
		/*height: 100px;*/
		background: #f2f2f2;
		text-align: center;

		span{
			display: block;
			width: 70px;
			height: 70px;
			border: 5px solid;
			text-align: center;
			margin: 10px auto;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			i{
				display: block;
				font-size: 30px;
				font-style: normal;
			}
		}

		b{
			font-weight: normal;
			font-size: 14px;
			display: block;
			margin-bottom: 10px;
		}
	}

	div.btn_toggle_pending{
		border-color: orange;
		color: orange;
	}
	div.btn_toggle_approved{
		border-color: green;
		color: green;
	}
	div.btn_toggle_rejected{
		border-color: red;
		color: red;
	}
}

#btn_responder{
	position: relative;
  width: 100%;
  overflow: hidden;
  background: #f2f2f28c;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
	text-decoration: none;

  img{
  	position: relative;
  	width: 50px;
  	margin: 0 10px 0 0;
  }

  span{
  	color: #949494;
  	font-size: 14px;
  }

  ion-icon{
  	position: absolute;
  	right: 16px;
  	top: 50%;
  	font-size: 25px;
  	transform: translateY(-50%);
  	color: #e20613;
  }
}

.btn_toggle_list_container > div ion-icon{
	position: absolute;
    display: block;
    top: -10px;
    right: -10px;
    z-index: 1;
    font-size: 30px;
}

.btn_toggle_list_container > div.btn_toggle_pending ion-icon{
	color: orange;
}
.btn_toggle_list_container > div.btn_toggle_approved ion-icon{
	color: green;
}
.btn_toggle_list_container > div.btn_toggle_rejected ion-icon{
    color: red;
}
