<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
  		<ion-back-button defaultHref="/dashboard" routerLink="/dashboard"></ion-back-button>
  	</ion-buttons>
    <ion-title>HR Help Desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<div class="outer_container">
			<ion-row>
				<ion-col class="ion-no-padding">
					<div class="filter_graph_container">
						<ion-datetime pickerFormat="YYYY MMM DD" displayFormat="YYYY-MM-DD" value="{{graph_from}}" (ionChange)="handleSelectData($event, 'from')"></ion-datetime>

						<ion-datetime pickerFormat="YYYY MMM DD" displayFormat="YYYY-MM-DD" value="{{graph_to}}" (ionChange)="handleSelectData($event, 'to')"></ion-datetime>
						
						<a class="btn_notify" (click)="handleFilterRequest()">
							<ion-icon name="search"></ion-icon>
						</a>
					</div>
				</ion-col>
			</ion-row>

			<ion-row class="ion-margin-top">
				<ion-col size="12" id="listing_charts_container">
					<canvas id="listing_charts" size="12"></canvas>
				</ion-col>
				<!-- <div style="display: block" style="width: 100%; position: relative;">
					<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 999;"></div>
				</div> -->
			</ion-row>

			<ion-row *ngIf="request_graph_data">
				<div class="btn_toggle_list_container">
					<div (click)="toggle_requests('pending')" class="btn_toggle_pending">
						<span> <i>{{total_pending}}</i> </span>
						<b> Pending </b>
						<ion-icon *ngIf="togglePending" name="checkmark-circle-outline"></ion-icon>
					</div>
					<div (click)="toggle_requests('approved')" class="btn_toggle_approved">
						<span> <i>{{total_approved}}</i> </span>
						<b> Approved </b>
						<ion-icon *ngIf="toggleApproved" name="checkmark-circle-outline"></ion-icon>
					</div>
					<div (click)="toggle_requests('rejected')" class="btn_toggle_rejected">
						<span> <i>{{total_rejected}}</i> </span>
						<b> Rejected </b>
						<ion-icon *ngIf="toggleRejected" name="checkmark-circle-outline"></ion-icon>
					</div>
				</div>
			</ion-row>

			<!-- <ion-row *ngIf="false"> -->
			<ion-row *ngIf="respond_data">
				<a routerLink="/responder-listing" id="btn_responder">
					<img src="../../../assets/images/png/helpdesk.png" />
					<span> Help Desk - Monitoring </span>
					<ion-icon name="chevron-forward-circle-outline"></ion-icon>
				</a>
			</ion-row>

			<!-- <ion-row *ngIf="false"> -->
			<ion-row *ngIf="employeeRole !== 'N/A' ">
				<a routerLink="/manager-dashboard" id="btn_responder">
					<img src="../../../assets/images/png/helpdesk.png" />
					<span> Manager Dasboard </span>
					<ion-icon name="chevron-forward-circle-outline"></ion-icon>
				</a>
			</ion-row>

			<ion-row *ngIf="request_data">
				<div class="listing_row_container">
					<!-- <h1> Requester </h1> -->
					<div class="listing_row {{reqRow.TICKET_STATUS.toLowerCase()}}" *ngFor="let reqRow of request_data | hrListingFilter : filterListingByStatus" (click)="showQueryDetail(reqRow.TICKET_ID, 0)">
						<div class="list_lft">
							<h1>
								{{reqRow.MASTER_QUERY}}
								<span> {{reqRow.DETAIL_QUERY}} </span>
							</h1>
						</div>

						<div class="list_rt">
							<span> {{reqRow.TICKET_DATE.split(' ')[0]}} </span>
							<span> {{reqRow.TICKET_DATE.split(' ')[1]}} </span>
							<b> {{reqRow.TICKET_STATUS}} </b>

							<ion-icon name="chevron-forward-circle-outline"></ion-icon>
						</div>
					</div>
				</div>
			</ion-row>

			<!-- <ion-row *ngIf="respond_data"> -->
			<ion-row *ngIf="false">
				<div class="listing_row_container">
					<h1> Responder </h1>
					<div class="listing_row {{resRow.TICKET_STATUS.toLowerCase()}}" *ngFor="let resRow of respond_data" (click)="showQueryDetail(resRow.TICKET_ID, 1)">
						<div class="list_lft">
							<h1>
								{{resRow.MASTER_QUERY}}
								<span> {{resRow.DETAIL_QUERY}} </span>
							</h1>
						</div>

						<div class="list_rt">
							<span> {{resRow.TICKET_DATE.split(' ')[0]}} </span>
							<span> {{resRow.TICKET_DATE.split(' ')[1]}} </span>
							<b> {{resRow.TICKET_STATUS}} </b>

							<ion-icon name="chevron-forward-circle-outline"></ion-icon>
						</div>
					</div>
				</div>
			</ion-row>
		</div>

	</ion-grid>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/new-request">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
