
@mixin breakpointMin($media, $pixel:"") {
    @if $media == tablet {
        @media (min-width: 768px) { @content; }
    } @else if $media == monitor-sm {
        @media (min-width: 992px) { @content; }
    } @else if $media == monitor-lg {
        @media (min-width: 1201px) { @content; }
    } @else if $media == c {
        @media (min-width: unquote($pixel))  { @content; }
    }
}

@mixin breakpointUpToMax($media, $pixel:"") {
    @if $media == mobile-sm {
        @media (max-width: 560px) { @content; }
    } @else if $media == mobile {
        @media (max-width: 767px) { @content; }
    } @else if $media == tablet {
        @media (max-width: 991px) { @content; }
    } @else if $media == monitor-sm {
        @media (max-width: 1200px)  { @content; }
    } @else if $media == c {
        @media (max-width: unquote($pixel))  { @content; }
    }
}