@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  // For IE 6/7 (trigger hasLayout)
  & {
    zoom: 1;
  }
}

.zm {
  .-display {
    &.-inline {
      display: inline-block;
    }

    &.-block {
      display: block;
    }
  }

  .-reset {
    &.-box-shadow {
      --box-shadow: none;
      box-shadow: none;
    }

    &.-border-radius {
      border-radius: 0;
      --border-radius: 0;
    }

    &.-outline {
      outline: none !important;
    }
  }

  .-text {
    &.-transform-upper {
      text-transform: uppercase;
    }
  }

  .-bg {
    &.-gray {
      --background: #f4f4f4;
    }
  }

  /* Text Align */
  .-text-align {
    &.-left {
      text-align: left !important;
    }

    &.-right {
      text-align: right !important;
    }

    &.-center {
      text-align: center !important;
    }
  }

  /* Font  Size*/
  .-font {

    &.-tiny {
      font-size: 0.75rem
    }

    &.-small {
      font-size: 0.875rem
    }

    &.-medium {
      font-size: 1rem;
    }

    &.-large {
      font-size: 1.625rem
    }

    &.-family-light {
      font-weight: 100;
    }

    &.-family-regular {
      font-weight: 400;
    }

    &.-family-bold {
      font-weight: bold;
    }

    &.-blue {
      color: #0070c0;
    }

    &.-black {
      color: #1a1a1a;
    }

    &.-white {
      color: #fff;
    }

  }
}
