ion-menu {
  ion-header {
    ion-toolbar {
      ion-img {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }

  ion-list {
    height: 100%;
    border: 0;

    ion-item {
      --inner-border-width: 0;
      border-bottom: 1px solid #f4f4f4;
      text-transform: capitalize;
    }
  }
}


.top-header {
  background: #fff;
  padding: 5px 15px;

  ion-toolbar {
    --background: #fff;

    ion-button {
      --background: none;
      --color: #444;
      --box-shadow: none;
      font-size: 24px;
    }

    ion-title {
      font-size: 18px;
    }

    ion-img {
      width: 95px;
    }
  }
}

.help_desk_popup {
  z-index: 999999999999999 !important;
}