<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/dashboard">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Mail</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/dashboard">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Message</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/dashboard">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logOut()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>