ion-grid{
  background: url('../../assets/images/png/bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ce010d;
}

ion-row{

  ion-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ion-avatar{
      margin: 20px 0 0 0;
    }

    ion-input{
      border-bottom: 1px solid #ce010d;
      margin-bottom: 5px;
      transform: none;
      --padding-start: 30px;
    }

    ion-input.icon_emp1{
      background: url('../../assets/images/png/icon_id.png') no-repeat;
      background-position: left center;
      background-size: 20px;
    }

    ion-input.icon_emp2{
      background: url('../../assets/images/png/icon_verifiy.png') no-repeat;
      background-position: left center;
      background-size: 20px;
    }

    ion-button{
      margin: 10px auto 0 auto;
      display: block;
    }
  }
}

.login_container{
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 350px;
  display: flex;
  justify-content: center;
  /*margin: 0 auto;*/

  .logo{
    max-width: 200px;
    margin: 0 auto 20px auto;
  }
}