<ion-content [fullscreen]="true">
  <ion-grid>
    <div class="login_container">
      <ion-row class="">
        <ion-col>
          <ion-img src="./assets/images/png/logo_tcs.png" class="logo"></ion-img>
          
          <ion-avatar class="avatar">
            <img class="image" src="./assets/images/png/logo_user.png">
          </ion-avatar>
          
          <h5>Welcome</h5>
          
          <div *ngIf="!verfication"  class="form-container">
            <ion-input [(ngModel)]="employeeid" class="icon_emp1" type="text" placeholder="Employee id" required></ion-input>
            <ion-button [disabled]="disabled" (click)="loginHandler()">
              <ion-spinner name="dots" *ngIf="processing"></ion-spinner>
              <span>Login</span>
            </ion-button>

          </div>
          <div *ngIf="verfication" class="form-container">
            <ion-input type="text" [(ngModel)]="employeeid" class="icon_emp1" placeholder="Employee id" required></ion-input>

            <ion-input type="text" [(ngModel)]="verifyCode" class="icon_emp2" placeholder="Verification Code" required></ion-input>

            <ion-button (click)="onVerifyToken()" [disabled]="vdisabled" type="submit">
              <ion-spinner name="dots" *ngIf="vProcessing"></ion-spinner>
              <span>Verify</span>
            </ion-button>
            
            <ion-text class="ion-text-center">
              <h6 (click)="resendOtpCode()" >Resend OTP Verification Code</h6>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      
    </div>
  </ion-grid>
</ion-content>