<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/hr-listing" routerLink="/hr-listing"></ion-back-button>
    </ion-buttons>
    <ion-title>New Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="outer_container">
      <ion-row>
        <ion-col>
          <form (keydown.enter)="$event.preventDefault()" [formGroup]="newRequestForm" (ngSubmit)="onFormSubmit()">
            <div class="form-container">
              <div class="form-group">
                <ion-label>Request Mode</ion-label>
                <select *ngIf="isAgentStatus" (change)="requestModeChange($event)" formControlName="requestType">
                  <option selected="selected" value=''>Select Request Type</option>
                  <option [value]="mode.REQ_MODE_ID"
                  *ngFor="let mode of requestMode">{{mode.REQ_MODE_DESC}}</option>
                </select>
                <select *ngIf="!isAgentStatus" disabled=true>
                  <option  value="">Self</option>
                </select>
              </div>
              <div class="form-group" *ngIf="isEmployeeIdShow" >
                <ion-row size="12">
                  <ion-label>Employee Id</ion-label>
                  <div class="search_employee_container">
                    <ion-input (keypress)="numberOnly($event)" type="text" formControlName="employeeId"></ion-input>
                    <a class="btn_notify" (click)="getEmployeeDetails()">
                      <ion-icon name="search-outline"></ion-icon>
                    </a>
                  </div>
                </ion-row>
              </div>
              <div class="form-group" *ngIf="isEmployeeNameShow" >
                <ion-label>Employee Name</ion-label>
                <ion-input  disabled=true type="text" formControlName="employeeName"></ion-input>
              </div>
              <div class="form-group">
                <ion-label>Query Type</ion-label>
                <select (change)="queryMasterChange($event)" formControlName="masterQuery">
                  <option selected="selected" value=''>Select Query Type</option>
                  <option [value]="query.MQ_ID"
                  *ngFor="let query of queryMaster">{{query.MQ_DESC}}</option>
                </select>
              </div>
              <div class="form-group">
                <ion-label>Sub Query</ion-label>
                <select (change)="queryDetailChange($event)" formControlName="subQuery">
                  <option selected="selected" value=''>Select SubQuery Type</option>
                  <option [value]="queryDetail.DQ_ID"
                  *ngFor="let queryDetail of queryDetailsArray">{{queryDetail.DQ_DESC}}</option>
                </select>
              </div>
              <div class="readOnlyData poc" [hidden]="!isPointOfContact">
                <h1>Point Of Contact </h1>
                <table>
                  <tr>
                    <th>Name</th>
                    <th>Designation</th>
                  </tr>
                  <tr *ngFor="let qmat of queryMatrix">
                    <td>{{qmat.RESPONSIBILITY}}</td>
                    <td>{{qmat.PERSON_DESIG}}</td>
                  </tr>
                </table>
              </div>
              <div class="form-group">
                <ion-label>Remarks</ion-label>
                <select formControlName="remarks">
                  <option selected="selected" value=''>Select Remarks</option>
                  <option [value]="remark.USER_REMARKS"
                  *ngFor="let remark of remarkList">{{remark.USER_REMARKS}}</option>
                </select>
              </div>
            </div>
            <ion-button [disabled]="!newRequestForm.dirty || newRequestForm.invalid" type="submit"
              class="ion-float-right" fill="solid">
              <ion-label>Save</ion-label>
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>