<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
  		<ion-back-button defaultHref="/hr-listing" routerLink="/hr-listing"></ion-back-button>
  	</ion-buttons>
    <ion-title>HR Help Desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid *ngIf="respondData">
		<div class="outer_container">
			<ion-row>
				<div class="btn_toggle_list_container">
					<div (click)="toggleRequests('Pending')"  class="btn_toggle_pending">
						<span> <i>{{totalPending}}</i> </span>
						<b> Pending </b>
						<ion-icon *ngIf="togglePending" name="checkmark-circle-outline"></ion-icon>
					</div>
					<div (click)="toggleRequests('approved')" class="btn_toggle_approved">
						<span> <i>{{totalApproved}}</i> </span>
						<b> Approved </b>
						<ion-icon *ngIf="toggleApproved" name="checkmark-circle-outline"></ion-icon>
					</div>
					<div (click)="toggleRequests('rejected')" class="btn_toggle_rejected">
						<span> <i>{{totalRejected}}</i> </span>
						<b> Rejected </b>
						<ion-icon *ngIf="toggleRejected" name="checkmark-circle-outline"></ion-icon>
					</div>
				</div>
			</ion-row>

			<ion-row>
				<div class="listing_row_container">
					<div class="listing_row {{resRow.TICKET_STATUS.toLowerCase()}}" *ngFor="let resRow of responderData | hrListingFilter : filterListingByStatus" (click)="showQueryDetail(resRow.TICKET_ID, 1)">
						<div class="list_lft">
							<h1>
								{{resRow.MASTER_QUERY}}
								<span> {{resRow.DETAIL_QUERY}} </span>
							</h1>
						</div>

						<div class="list_rt">
							<span> {{resRow.TICKET_DATE.split(' ')[0]}} </span>
							<span> {{resRow.TICKET_DATE.split(' ')[1]}} </span>
							<b> {{resRow.TICKET_STATUS}} </b>

							<ion-icon name="chevron-forward-circle-outline"></ion-icon>
						</div>
					</div>
				</div>
			</ion-row>
		</div>
	</ion-grid>

	<ion-grid *ngIf="!respondData">
		<ion-row>
			No Data Available
		</ion-row>
	</ion-grid>
</ion-content>
