.filter_outer_container{
  width: 95%;
  margin: 20px auto;
  max-width: 767px;

  .form-group ion-label{
    font-size: 15px;
    display: block;
    margin: 0 0 10px 0;
  }

  select{
    padding: 10px 15px;
    width: 100%;
    font-size: 14px;
    border: 0;
  }
}