<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Filter Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filter_outer_container">
    <ion-row>
      <ion-col class="" size="12">
        <div class="form-group">
          <ion-label>Query Type</ion-label>
          <select (change)="getQueryEvent($event)">
            <option selected="selected" value='' >Select Query Type</option>
            <option *ngFor="let query of queries" value="{{query.MQ_ID}},{{query.MQ_DESC}}">{{query.MQ_DESC}}</option>
          </select>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="getQueryType()" class="ion-float-right" fill="solid">
        <ion-label>OK</ion-label>
      </ion-button>
      <ion-button (click)="cancelModal()" class="ion-float-left" fill="solid">
        <ion-label>CANCLE</ion-label>
      </ion-button>
    </ion-row>
  </div>
</ion-content>
