/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@import "bower/@zm/css-common/bf-breakpoints";

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-theme-default: #e20613;
  --ion-color-theme-default-rgb: 226, 6, 19;
  --ion-color-theme-default-contrast: #ffffff;
  --ion-color-theme-default-contrast-rgb: 255, 255, 255;
  --ion-color-theme-default-shade: #c70511;
  --ion-color-theme-default-tint: #e51f2b;

  --ion-color-primary: #e20613;
  --ion-color-primary-rgb: 226, 6, 19;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c70511;
  --ion-color-primary-tint: #e51f2b;

  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #444444;
  --ion-text-color-rgb: 68, 68, 68;

  --ion-color-step-50: #f6f6f6;
  --ion-color-step-100: #ececec;
  --ion-color-step-150: #e3e3e3;
  --ion-color-step-200: #dadada;
  --ion-color-step-250: #d0d0d0;
  --ion-color-step-300: #c7c7c7;
  --ion-color-step-350: #bebebe;
  --ion-color-step-400: #b4b4b4;
  --ion-color-step-450: #ababab;
  --ion-color-step-500: #a2a2a2;
  --ion-color-step-550: #989898;
  --ion-color-step-600: #8f8f8f;
  --ion-color-step-650: #858585;
  --ion-color-step-700: #7c7c7c;
  --ion-color-step-750: #737373;
  --ion-color-step-800: #696969;
  --ion-color-step-850: #606060;
  --ion-color-step-900: #575757;
  --ion-color-step-950: #4d4d4d;
}

.ion-color-theme-default {
  --ion-color-base: var(--ion-color-theme-default);
  --ion-color-base-rgb: var(--ion-color-theme-default-rgb);
  --ion-color-contrast: var(--ion-color-theme-default-contrast);
  --ion-color-contrast-rgb: var(--ion-color-theme-default-contrast-rgb);
  --ion-color-shade: var(--ion-color-theme-default-shade);
  --ion-color-tint: var(--ion-color-theme-default-tint);
}

.main-loader{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3d3d3dc2;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-grid{
  background: url('./assets/images/png/bg.png') no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.outer_container{
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
}

ion-grid{
  padding: 15px;
}

select{
  /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./assets/images/chevron.png');
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 12px;
}

ion-tab-button{
  background: #ffe3e2;

  ion-icon{
    color: #96473f;
  }

  ion-label{
    color: #96473f;
  }
}

.help_desk_popup{
  z-index: 9999999 !important;
}

/*custom loader styles*/
  .component_loader{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background: #000000e3;
    display: none;
  }
/*custom loader styles*/

ion-toolbar ion-title{
  font-weight: normal;
}