.search_notify_container{
  position: relative;
  overflow: hidden;
  width: 100%;
  
  input{
    border-radius: 0;
    border: none;
    padding: 11px 15px 11px 35px;
    color: #3d3d3d;
    font-size: 15px;
    width: calc( 100% - 45px);
    float: left;
    background: url('../../../assets/images/png/icon_search.png') no-repeat;
    background-position: left 10px center;
    background-size: 20px;
    background-color: #f2f2f2;
  }

  a{
    width: 40px;
    height: 40px;
    border-radius: 0;
    float: right;
    background: #f2f2f2;
    /*background: url('../../../assets/images/png/icon_plus.png') no-repeat;
    background-position: center;
    background-size: cover;*/
    display: inline-block;
    position: relative;

    ion-icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 27px;
    }
  }
}

.btn_notify{
  background: url('../../../assets/images/png/icon_plus.png') no-repeat;
  background-position: center;
  background-size: cover;
}

.btn_dashboard{
	display: inline-block;
  width: calc( 100% / 4 );
  max-width: 100px;
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #b61c1c;

  i{
  	position: absolute;
  	display: inline-block;
  	width: 25px;
  	height: 25px;
  	background: url('../../../assets/images/png/icon_plus.png') no-repeat;
  	background-position: center;
  	background-size: cover;
  	top: 35px;
    right: 10px;
  }

	img{
		width: 50px;
		display: block;
		margin: 0 auto 15px auto;
	}
}