<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <!-- <ion-icon name="logo-capacitor"></ion-icon> --> Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<div class="outer_container">
			<ion-row>
				<div class="search_notify_container">
					<input type="text" placeholder="Search" />
					<a class="btn_notify">
						<ion-icon name="notifications-circle-outline"></ion-icon>
					</a>
				</div>
			</ion-row>

			<ion-row>
				<ion-col size-md="12" class="ion-no-padding">
					<ion-card class="ion-no-margin ion-margin-top ion-padding-bottom">
						<ion-slides>
						  <ion-slide>
						  	<ion-row (click)="handleManagerChart()">
						  		<ion-col size="12">
						  			<h1 style="margin: 10px 0 0 10px; text-align: left; font-size: 15px; background: #e20613; display: inline-block; float: left; color: #fff; padding: 2px 5px;"> HR One Month Data </h1>
						  		</ion-col>
						  		<ion-col size="12" id="dashboard_chart_container">
						  			<canvas id="dashboard_chart" size="12"></canvas>
						  		</ion-col>
						  	</ion-row>
						  </ion-slide>
						</ion-slides>
					</ion-card>
				</ion-col>
			</ion-row>

			<ion-row class="ion-padding-top">
				<ion-col class="ion-align-items-start" style="display: flex">
					<a class="btn_dashboard" routerLink="/hr-listing">
						<img src="./assets/images/png/icon_hr.png" />
						<i></i>
						HR Help Desk
					</a>

					<!-- <a class="btn_dashboard">
						<img src="./assets/images/png/icon_hr.png" />
						<i></i>
						Grievances
					</a> -->
				</ion-col>
			</ion-row>
		</div>
	</ion-grid>
</ion-content>
